.domain {
  display: none;
}

.hull {
  fill: rgba(184, 125, 0, 0.705);
  stroke: rgba(184, 125, 0, 0.705);
  opacity: 0.5;
  stroke-width: 32px;
  stroke-linejoin: round;
}

.xAxis .tick line{
  visibility:hidden;
}

.yAxis .tick line{
  visibility:hidden;
}