.domain {
  display: none;
}

.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  fill: #ccc;
  stroke-width: 1.5px;
}

.node.fixed {
  fill: #f00;
}

.xAxis .tick line{
  visibility:hidden;
}

.yAxis .tick line{
  visibility:hidden;
}